@page "/choice"
@inherits FirstPageComponent

<div class="title" align="center">
    Hello, do you want to play a game?
</div>
<div class="choose-section" align="center">
    <div class="form-row align-items-center input-choose">
        <div class="col-auto my-1">
            <div>
                <label class="mr-sm-2">Select the difficulty of the word: </label>
                <select class="custom-select mr-sm-2" @bind="@wordDifficulty">
                    <option selected value="1">Easy</option>
                    <option value="2">Medium</option>
                    <option value="3">Hard</option>
                </select>

                <button type="button" @onclick="@RandomWordDifficulty" class="random-btn">Random difficulty</button>
            </div>
            <div>
                <label class="mr-sm-2">Select the category of the word: </label>
                <select class="custom-select mr-sm-2" @bind="@categoryId">
                    <option selected value="1">Sports</option>
                    <option value="2">Fashion</option>
                    <option value="3">Music</option>
                </select>
            </div>
            <button type="button" @onclick="@RandomCategory" class="random-btn">Random category</button>
        </div>
    </div>
    <button type="button" class="choose-btn" @onclick="@StartGame">Start game</button>
</div>


